/*
Colors used:
AliceBlue #F0F8FF  240,248,255
BlueViolet #8A2BE2  138,43,226
DarkViolet #9400D3  148,0,211
LightSteelBlue #b0c4de  176,196,222
DarkSteelBlue #93abc4  147,168,196

Logo Colors
Purple #639  102, 51, 153
Blue #6f89d6  111, 137, 214
*/
* {
  box-sizing: border-box;
}

/* Image Scaling */
img {
  width: 100%;
}

/* Font Styling */
body {
  background-color: #f0f8ff;
  font-family: 'Raleway', sans-serif;
  /* Sets the font size to 16px */
  font-size: 16px;
  /* Sets the font weight to 400 */
  font-weight: 400;
  /* Sets the line-height to 1.6 * the font-size */
  line-height: 1.6;
  /* Sets the font color */
  color: #93abc4;
  display: inline-block;
  width: 100%;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'Overpass', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 900;
}

h2 {
  font-size: 2.25em;
  font-weight: 800;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 600;
}

/* LAYOUT STYLING */
.container {
  padding: 0 15px;
}

/* HEADER SECTION */
/* Logo */
.logo {
  max-width: 150px;
  padding-top: 12px;
  padding-bottom: 6px;
}

/* Background with dropshadow */
header {
  background-color: #b0c4de;
  position: fixed;
  -webkit-box-shadow: 0 4px 4px 0 rgba(119, 84, 162, 0.73);
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  padding: 0;
  border-top: 1px solid #639;
  max-width: 110px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 20px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* HYPERLINK STATES */
/* No underlining */
a {
  color: #639;
  text-decoration: none;
}

nav>ul>li>a {
  padding: 6px 9px 5px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  color: #639;
}

/* Site visited */
nav>ul>li>a:visited {
  padding: 0 9px;
  display: inline-block;
  color: #639;
  border-bottom: 3px solid #639;
}

/* Underline on hover/keyboard */
nav>ul>li>a:hover,
nav>ul>li>a:focus {
  padding: 0 9px;
  display: inline-block;
  color: #6f89d6;
  text-decoration: underline;
}

/* Selected link */
nav>ul>li>a:active {
  padding: 0 9px;
  display: inline-block;
  color: #fff;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #639;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
  transition: 0.2s opacity;
}

.button:visited {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.button:active {
  color: #b0c4de;
  font-weight: 700;
  padding: 10px;
  text-transform: none;
  border-radius: 10px;
  border-bottom: 2px solid #111;
}

.button.contact {
  background-color: transparent;
  color: #639;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid #639;
  transition: 0.2s opacity;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #639;
  color: #fff;
  opacity: 0.8;
}

.buttonresume {
  background-color: #639;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid #93abc4;
  transition: 0.2s opacity;
}

.buttonresume:hover,
.buttonresume:focus {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  border-bottom: 2px solid #93abc4;
  opacity: 0.8;
}

/* Hero Section */
#hero {
  background-color: rgba(176, 196, 222, 0.5);
  padding: 85px 20px 0;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid #639;
  text-align: center;
}

#hero .container h1 {
  line-height: 1.2;
  color: #6f89d6;
  margin-top: 10px;
  padding: 20px 0;
}

/* Work Section */
.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #93abc4;
}

.casestudy img {
  padding-top: 78px;
  max-width: 1200px;
  display: block;
  margin: auto;
}

/* FOOTER SECTION */
/* Get in touch */
#footer .container h1 {
  line-height: 1.2;
  color: #6f89d6;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

/* If you would like... */
#footer p {
  font-style: italic;
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
}

/* Email Button */
#contact .button.contact {
  margin: 0 0 25px;
  text-decoration: underline;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 14pt;
  line-height: 1.6;
}

/* Social Icons/Links */
#socialicons {
  width: 32px;
  margin: 10px auto;
}

/* Copyright Travis Severson */
#copyright p {
  font-size: 12px;
  padding-bottom: 0;
}

/* ====================== */
/* ===   ABOUT.HTML   === */
/* ====================== */
/* About Me text */
#about h1 {
  text-align: center;
  padding-top: 95px;
}

#about h2 {
  padding-left: 20px;
  margin-bottom: 10px;
}

#about p {
  padding: 0 20px;
}

#about .row {
  padding: 0 20px;
}

#resume {
  text-align: center;
}

#resume {
  padding-bottom: 25px;
  border-bottom: 1px solid #93abc4;
}

/* ====================== */
/* ===   CONTACT.HTML   === */
/* ====================== */
#contactfooter {
  margin-top: 125px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Get in touch */
#contactfooter .container h1 {
  line-height: 1.2;
  color: #6f89d6;
  text-align: center;
  margin: 15px auto;
}

/* If you would like... */
#contactfooter p {
  font-style: italic;
  padding: 15px 15px;
  margin: 15px;
  text-align: center;
}

/* Email Button */
#contactfooter .button.contact {
  margin: 10px auto 25px auto;
  width: 10%;
  height: 10%;
  padding: 5px;
}

/* ======== Breakpoint ==========
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  #contactfooter #contact .button.contact {
    margin: 0 0 25px;
    display: inline-block;
    text-align: center;
    width: 15%;
    font-weight: 800;
    font-size: 14pt;
    line-height: 1.6;
  }

  /* Email Button */
  #contact .button.contact {
    margin: auto;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 14pt;
    line-height: 1.6;
  }

  header {
    text-align: unset;
    padding: 10px 0 5px;
  }

  header a {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    display: block;
    padding: 10px 0;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .logo {
    max-width: 220px;
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0;
  }

  #hero {
    padding: 90px 20px 0;
    margin-bottom: 10px;
  }

  #hero span {
    display: block;
  }

  #hero .container h1 {
    padding-bottom: 0;
  }

  #work .container h2 {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #6f89d6;
  }

  #work h3 {
    margin-top: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h1 {
    color: #6f89d6;
  }

  #about h2 {
    margin-top: 25px;
  }

  #about h3 {
    margin-top: 0;
  }

  #about p {
    margin-top: 0;
  }
}

#footer .container a {
  line-height: 1.2;
  font-style: italic;
  color: #639;
  text-align: center;
  margin: 0 0 10px;
  display: block;
  text-decoration: underline;
}

/* If you would like... */
#footer p {
  font-style: italic;
  display: block;
  text-align: center;
}

/* ======== Breakpoint ==========
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero span {
    display: block;
  }

  #hero .container h1 {
    padding-bottom: 0;
  }

  #work .container h2 {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  #work h3 {
    margin-top: 0;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  #about p {
    margin-top: 0;
  }
}
