/*
Colors used:
AliceBlue #F0F8FF  240,248,255
BlueViolet #8A2BE2  138,43,226
DarkViolet #9400D3  148,0,211
LightSteelBlue #b0c4de  176,196,222
DarkSteelBlue #93abc4  147,168,196

Logo Colors
Purple #663399  102, 51, 153
Blue #6f89d6  111, 137, 214
*/
* {
  box-sizing: border-box;
}

/* Font Styling */
body {
  background-color: #F0F8FF;
  font-family: 'Overpass', sans-serif;
  /* Sets the font size to 16px */
  font-size: 16px;
  /* Sets the font weight to 400 */
  font-weight: 400;
  /* Sets the line-height to 1.6 * the font-size */
  line-height: 1.6;
  /* Sets the font color */
  color: #93abc4;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

/* LAYOUT STYLING */
.container {
  padding: 15px;
}

/* Header Section */
.logo {
  max-width: 220px;
  text-align: center;
}

header {
  background-color: #b0c4de;
  position: relative;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(119, 84, 162, 0.73);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: auto;
}

/* image scaling */
img {
  width: 100%;
}

/* HYPERLINK STATES */
/* No underlining */
a {
  color: #663399;
  text-decoration: none;
}

/* Site visited */
nav>ul>li>a:visited {
  color: #663399;
}

/* Underline on hover/keyboard */
nav>ul>li>a:hover,
a:focus {
  color: #6f89d6;
  text-decoration: underline;
}

/* Selected link */
nav>ul>li>a:active {
  color: #ffffff;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #663399;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
  transition: 0.2 opacity;
}

.button:visited {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

.button:active {
  color: #b0c4de;
  font-weight: 700;
  padding: 10px;
  text-transform: none;
  border-radius: 10px;
  border-bottom: 2px solid #111111;
}

.button.contact {
  background-color: transparent;
  color: #663399;
  text-transform: uppercase;
  border: 2px solid #663399;
  margin: auto;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #663399;
  color: #ffffff;
  margin: auto;
}

.button.resume {
  background-color: #663399;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #93abc4;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 9px;
  text-transform: uppercase;
  font-weight: 900;
}

/* Hero Section */
#hero .container {
  background-color: rgba(176, 196, 222, 0.5);
  border-bottom: 2px solid #663399;
  margin: auto;
}

#hero .container h1 {
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 1px 1px 2px #663399;
  margin-top: 0;
  padding: 10px 0;
}

#hero {
  display: inline-block;
  color: #93abc4;
  width: 100%;
  text-align: center;
}

/* Work Section */
.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #93abc4
}

/* Footer Section */
#contact .container {
  background-color: rgba(176, 196, 222, 0.5);
  border: solid #b0c4de;
  margin: 15px;
}

#contact .container h2 {
  line-height: 1.2;
  color: #6f89d6;
  margin: auto;
}

#contact .button.contact {
  margin: 10px auto 35px auto;
}

#contact {
  display: inline-block;
  font-size: 16pt;
  line-height: 1.4;
  color: #6f89d6;
  width: 100%;
  text-align: center;
}
#contact p {
  padding: 10px 15px;
  margin: 5px 10px;
}

#copyright p {
  font-size: 12px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

#socialicons {
  width: 32px;
  margin: auto;
}

/* ABOUT.HTML */
