/*
Colors used:
AliceBlue #F0F8FF  240,248,255
BlueViolet #8A2BE2  138,43,226
DarkViolet #9400D3  148,0,211
LightSteelBlue #b0c4de  176,196,222
DarkSteelBlue #93abc4  147,168,196

Logo Colors
Purple #663399  102, 51, 153
Blue #6f89d6  111, 137, 214
*/
* {
  box-sizing: border-box;
}

/* Image Scaling */
img {
  width: 100%;
}

/* Font Styling */
body {
  background-color: #F0F8FF;
  font-family: 'Raleway', sans-serif;
  /* Sets the font size to 16px */
  font-size: 16px;
  /* Sets the font weight to 400 */
  font-weight: 400;
  /* Sets the line-height to 1.6 * the font-size */
  line-height: 1.6;
  /* Sets the font color */
  color: #93abc4;
  display: inline-block;
  width: 100%;
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: 'Overpass', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 900;
}

h2 {
  font-size: 2.25em;
  font-weight: 800;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 600;
}

/* LAYOUT STYLING */
.container {
  padding: 0 15px;
}

/* HEADER SECTION */
/* Logo */
.logo {
  max-width: 220px;
  text-align: center;
  padding-top: 20px;
}

/* Background with dropshadow */
header {
  background-color: #b0c4de;
  position: relative;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(119, 84, 162, 0.73);
  text-align: center;
  padding: 10px 0;
  margin: 10px 10px 0 10px;
}

/* HYPERLINK STATES */
/* No underlining */
a {
  color: #663399;
  text-decoration: none;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 9px;
  text-transform: uppercase;
  font-weight: 900;
  color: #663399;
}

/* Site visited */
nav>ul>li>a:visited {
  color: #663399;
}

/* Underline on hover/keyboard */
nav>ul>li>a:hover,
a:focus {
  color: #6f89d6;
  text-decoration: underline;
}

/* Selected link */
nav>ul>li>a:active {
  color: #ffffff;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #663399;
  color: #ffffff;
  font-weight: 800;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

.button:active {
  color: #b0c4de;
  font-weight: 700;
  padding: 10px;
  text-transform: none;
  border-radius: 10px;
  border-bottom: 2px solid #111111;
}

.button.contact {
  background-color: transparent;
  color: #663399;
  text-transform: uppercase;
  border: 2px solid #663399;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #663399;
  color: #ffffff;
}

.buttonresume {
  background-color: #663399;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #93abc4;
  transition: 0.2s opacity;
}

.buttonresume:hover,
.buttonresume:focus {
  opacity: 0.8;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  border-bottom: 2px solid #93abc4;
  transition: 0.2s opacity;
}

/* Hero Section */
#hero {
  background-color: rgba(176, 196, 222, 0.5);
  padding: 0 0 20px 0;
  margin: 0 10px 10px 10px;
  border-bottom: 2px solid #663399;
  text-align: center;
}

#hero .container h1 {
  line-height: 1.2;
  color: #6f89d6;
  margin-top: 10px;
  padding: 10px 0;
}

/* Work Section */
.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #93abc4
}

/* FOOTER SECTION */
/* Get in touch */
#footer .container h1 {
  line-height: 1.2;
  color: #6f89d6;
  text-align: center;
  margin: 15px auto;
}

/* If you would like... */
#footer p {
  font-style: italic;
  padding: 10px 15px;
  margin: 15px;
  text-align: center;
}

/* Email Button */
#contact .button.contact {
  margin: 10px auto 35px auto;
}

#contact {
  display: inline-block;
  font-weight: 900;
  font-size: 16pt;
  line-height: 1.2;
  color: #6f89d6;
  width: 100%;
  text-align: center;
}

/* Social Icons/Links */
#socialicons {
  width: 32px;
  margin: 10px auto;
}

/* Copyright Travis Severson */
#copyright p {
  font-size: 12px;
  padding-bottom: 5px 0;
}

/* ABOUT.HTML */
/* About Me text */
#about h1 {
  text-align: center;
}

/* Main Body */
#resume {
  text-align: center;
}

#resume {
  padding-bottom: 25px;
  border-bottom: 1px solid #93abc4
}
