/*
Colors used:
AliceBlue #F0F8FF  240,248,255
BlueViolet #8A2BE2  138,43,226
DarkViolet #9400D3  148,0,211
DarkSteelBlue #93abc4  147,168,196
DarkGray  #4a6786  74,103,134

Logo Colors
Purple #639  102, 51, 153
Blue #6f89d6  111, 137, 214
*/
* {
  box-sizing: border-box;
}

/* Image Scaling */
img {
  width: 100%;
}

body {
  background-color: AliceBlue;
}

/* Font Styling */
body {
  font-family: 'Raleway', sans-serif;

  /* Sets the font size to 16px */
  font-size: 16px;

  /* Sets the font weight to 400 */

  font-weight: 400;

  /* Sets the line-height to 1.6 * the font-size */

  line-height: 1.6;

  /* Sets the font color */

  color: #4a6786;
  display: inline-block;
  width: 100%;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'Overpass', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 900;
  color: #5c79d1;
  background-color: inherit;
}

h2 {
  font-size: 2.25em;
  font-weight: 800;
  color: #5c79d1;
  background-color: inherit;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 600;
}

/* LAYOUT STYLING */
.container {
  padding: 0 15px;
}

/* HEADER SECTION */

/* Logo */
.logo {
  max-width: 150px;
  padding-top: 27px;
  padding-bottom: 4px;
}

/* Background with dropshadow */
header {
  background-color: #b4cae6;
  position: fixed;
  -webkit-box-shadow: 1px 4px 4px 0 rgba(119, 84, 162, 0.73);
  display: inline-block;
  width: 100%;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  padding: 0;
  border-top: 1px solid #639;
  max-width: 110px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 20px;
}

nav > ul {
  list-style-type: none;
}

/* HYPERLINK STATES */

/* No underlining */
a {
  color: #639;
  text-decoration: none;
}

nav > ul > li > a {
  padding: 16px 9px 10px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
}

/* Site visited */
nav > ul > li > a:visited {
  padding: 0 9px;
  display: inline-block;
  border-bottom: 3px solid #639;
}

/* Underline on hover/keyboard */
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  display: inline-block;
  color: #6f89d6;
  text-decoration: underline;
}

/* Selected link */
nav > ul > li > a:active {
  padding: 16px 9px 10px;
  display: inline-block;
  color: #fff;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #639;
  color: #fff;
  font-weight: 800;
  padding: 5px 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
  transition: 0.2s opacity;
}

.button:visited {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  border-bottom: 2px solid #93abc4;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
  padding: 5px 10px;
}

.button:active {
  font-weight: 700;
  padding: 5px 10px;
  text-transform: none;
  border-radius: 10px;
  border-bottom: 2px solid #111;
}

.button.contact {
  background-color: transparent;
  color: #639;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid #639;
  transition: 0.2s opacity;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #639;
  color: #fff;
  opacity: 0.8;
}

.buttonresume {
  background-color: #639;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid #93abc4;
  transition: 0.2s opacity;
}

.buttonresume:hover,
.buttonresume:focus {
  text-decoration: none;
  padding: 5px 10px;
  border-bottom: 2px solid #93abc4;
  opacity: 0.8;
}

/* Hero Section */
#hero {
  margin: 89.25px 0;
  width: 100%;
  background-color: #d4e3f7;
  border-bottom: 2px solid #639;
  text-align: center;
}

#hero .container h1 {
  padding: 25px 0;
  line-height: 1.2;
}

/* Work Section */
.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #93abc4;
}

.casestudy img {
  padding-top: 78px;
  max-width: 1200px;
  display: block;
  margin: auto;
}

/* FOOTER SECTION */

/* Get in touch - contact page */
#footer .container h1 {
  line-height: 1.2;
  color: #6f89d6;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

/* If you would like... */
#footer p {
  font-style: italic;
  text-align: center;
  margin: 10px 0 0;
}

/* underlined contact me link. not button */
#footer .container a {
  line-height: 1.2;
  font-style: italic;
  text-align: center;
  margin: 0 0 10px;
  display: block;
  text-decoration: underline;
}

/* Social Icons/Links */
#socialicons {
  width: 32px;
  margin: 10px auto;
}

/* Copyright Travis Severson */
#copyright p {
  font-size: 12px;
  padding-bottom: 0;
}

/* ====================== */

/* ===   ABOUT.HTML   === */

/* ====================== */

/* About Me text */
#about h1 {
  text-align: center;
  margin-top: 115px;
}

#about h2 {
  padding-left: 10px;
}

#about p {
  padding: 0 10px;
}

#about .row {
  padding: 0 20px;
}

#resume {
  text-align: center;
}

#resume {
  padding-bottom: 25px;
  border-bottom: 1px solid #93abc4;
}

/* ====================== */

/* ===   CONTACT.HTML   === */

/* ====================== */
#contactfooter {
  margin-top: 125px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Get in touch */
#contactfooter .container h1 {
  line-height: 1.2;
  color: #5c79d1;
  text-align: center;
  margin: 15px auto;
}

/* If you would like... */
#contactfooter p {
  font-style: italic;
  padding: 15px;
  margin: 15px;
}

/* Email Button */
#contactfooter .button.contact {
  text-decoration: underline;
  font-weight: 900;
  font-size: 13.5pt;
  line-height: 1.2;
}

/* Lander animation */

/* ======== Breakpoint ========== */

/* Medium devices (640px and larger) */

/* ================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  #contactfooter #contact .button.contact {
    margin: 0 0 25px;
    text-align: center;
    width: auto;
  }

  /* Email Button */
  #contact .button.contact {
    text-transform: uppercase;
    padding: 5px 10px;
  }

  header {
    text-align: unset;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav {
    width: auto;
    float: right;
    margin: 10px 0;
  }

  nav > ul {
    margin: 5px 0;
  }

  .logo {
    max-width: 220px;
    text-align: center;
    padding: 20px 0 10px 15px;
  }

  #work .container h2 {
    margin: 20px 10px 40px;
    color: #5c79d1;
  }

  #work h3 {
    margin-top: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 30%;
  }

  .col-md-4 {
    width: 25%;
  }

  [class*="col-md-6"] {
    float: left;
    padding: 10px 20px 0 10px;
  }

  [class*="col-md-4"] {
    float: right;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  #about p {
    margin-top: 0;
  }
}

/* ======== Breakpoint ==========
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
}
